<div class="container" id="map">
    <div class="card mx-auto">
        <h2 class="card-header">
            Encontre no Mapa
        </h2>
    </div>
</div>
<div class="container mb-3">
    <div class="card mx-auto">
        <h2 class="card-header">
            Entre com dados da Localização
        </h2>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <label class="form-label">Entre com a latitude</label>
                    <input class="form-control" type="text" name="latitude">
                </div>
                <div class="col-md-4 mx-auto">
                    <label class="form-label">Entre com a longitude</label>
                    <input class="form-control" type="text" name="longitude">
                </div>
            </div>
        </div>
    </div>
</div>

